.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98.7vw; /* Full width of the viewport */
    height: 150vh; /* Full height of the viewport */
    background: #424874; 
    padding: 20px; /* Add padding for better responsiveness */
    box-sizing: border-box; 
    position: relative;
    

}
.contact::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 40%;
    background-color: #ddd;
    left: 46%;
    top: 50%;
    transform: translate(-50%,-50%); 
}

form{
    font-family: "Poppins", serif;
    max-width: 600px;
    width: 100%;
    background: #F5EFFF;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    color: #424874;
    margin: 5px;
    

}
form h2{
    
    font-family: "Poppins", serif;
    font-size: 30px;
    text-align: center;

}
form .input-box{
    margin-top: 20px;

}
.input-box .field  {
    font-family: "Poppins", serif;
    width: 95%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

.input-box.field.mess{
    height: 200px;
    resize: none;

}
form button{
    font-family: "Poppins", serif;
    width: 100%;
    height: 55px;
    background: #A6B1E1;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #F5EFFF;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
 

}
form button:hover{
    background: #424874;

}

@media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
  }
  